<!DOCTYPE html>
<html>
<body>

<h1>Please Enter Jury Information</h1>

<form>
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" required><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" required><br>
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" required><br>
    <label for="surname">Surname:</label><br>
    <input type="text" id="surname" name="surname" required><br>
    <label for="nationality">Nationality:</label><br>
    <input type="text" id="nationality" name="nationality" required><br>
    <br>
    <input type="submit" value="Submit">
</form>

</body>
</html>