<!DOCTYPE html>
<html>
<body>

<h1>Welcome Esteemed Coach</h1>

<h3>All Existing Stadium Names and Countries: </h3>

<ul>
{% for stadium in stadiums %}
    <li>{{ stadium.0 }} {{stadium.1}}</li>
{% endfor %}
</ul>

<h3>Delete a Match Session: </h3>

<form>
    <label for="delete_ID">Choose a session:</label>
    <select id="delete_ID" name="delete_ID">
        {% for delete_ID in directing_matches %}
            <option value="{{ delete_ID }}">{{ delete_ID }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Delete">
</form>

{% if team_ID %}
<h3>Create a new match session for your current team:</h3>
<form>
    <label for="stadium_ID">Stadium Name:</label>
    <select id="stadium_ID" name="stadium_ID">
        {% for stadium in stadiums %}
            <option value="{{ stadium.2 }}">{{ stadium.0 }}</option>
        {% endfor %}
    </select>
    <br>
    <label for="date">Date:</label>
    <input type="date" id="date" name="date" required>
    <br>
    <label for="slot">Slot:</label>
    <select id="slot" name="slot">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>
    <br>
    <label for="jury">Jury:</label>
    <select id="jury" name="jury">
        {% for jury in juries %}
            <option value="{{ jury.0 }}">{{ jury.1 }} {{ jury.2 }}</option>
        {% endfor %}
    </select>
    <br>
    <input type="hidden" name="team_ID" value="{{ team_ID }}">
    <input type="hidden" name="next_session_ID" value="{{ next_session_ID }}">
    <input type="submit" value="Add Match Session">
</form>
{% else %}
<p>You are not directing any teams at the moment.</p>
{% endif %}

{% if error %}
<p style="color:red">{{ error }}</p>
{% endif %}

<h3>Create a New Squad: </h3>

<form onsubmit="return validateSquad();">
    <label for="session_ID">Choose a session:</label>
    <select id="session_ID" name="session_ID">
        {% for session_ID in not_squaded %}
            <option value="{{ session_ID }}">{{ session_ID }}</option>
        {% endfor %}
    </select>
    
    <h3>Your Available Players:</h3>
    {% for player in available_players %}
        <input type="checkbox" name="player" value="{{player.2}}" class="player_button">
        <label for="player">{{player.0}} {{player.1}}</label><br>
    {% endfor %}
    <br>

    {% for i in "123456" %}
    <label for="position{{i}}">Choose Position {{i}}</label>
    <select name="position{{i}}">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </select>
    <br>
    {% endfor %}
    
    <br>
    <input type="submit" value="Create Squad">
</form>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var today = new Date().toISOString().split("T")[0];
        const dateInput = document.getElementById("date")
        if (dateInput)
            dateInput.setAttribute("min", today);
    });

    const validateSquad = () => {
        const playerButtons = document.getElementsByClassName("player_button");
        let count = 0;
        for (let i = 0; i < playerButtons.length; i++) {
            if (playerButtons[i].checked) {
                count++;
            }
        }
        if (count != 6) {
            alert("You must select exactly 6 players to create a squad.");
            return false;
        }
        return true;
    }
</script>

</body>
</html>