<!DOCTYPE html>
<html>
<body>

<h1>Welcome Esteemed Database Manager</h1>


<input type="button" value="Add New Player">
<input type="button" value="Add New Jury">
<input type="button" value="Add New Coach">
<input type="button" value="Change Stadium Name">

{% if error %}
    <p style="color:red;">{{error}}</p>
{% endif %}

<script>
    inputs = document.querySelectorAll("input").forEach(function(inputElem, index){
        inputElem.onclick = function(){
            window.location.href = `/${["AddPlayer", "AddJury", "AddCoach", "ChangeStadiumName"][index]}/${window.location.href.split("/").slice(-1)[0]}`;
        }
    });
</script>

</body>
</html>